@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>Mas Sobre Nosotros</h3>

<address>
    Estudiantes de Ingenieria Informatica y de Sistemas<br />
    Josue David Higueros Calderon && Pablo André Alvarado Sánchez<br />
    <abbr title="Correos"></abbr>
    
</address>

<address>
    <strong>Josue Higueros:</strong>   <a href="mailto:www.gmail.com">davidhigueros@gmail.com</a><br />
    <strong>Pablo Alvarado:</strong> <a href="mailto:www.outlook.com">Pablo.andre@outlook.com</a>
</address>