@{
    ViewBag.Title = "Jugadores MLS";
}

<div class="jumbotron">
    <h1>Jugadores de la MLS</h1>
    <h2>Laboratorio 1 - Estructuras de datos</h2>
    <p class="lead">
        Pablo Alvarado 1104017 <br />
        Josué Higueros 1169317
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 align = "center">Utilizar Lista Artesanal</h2>
        <p align = "center">
            Si deseas utilizar una lista artesanal para almacenar a los jugadores de la MLS selecciona aca.
        </p>
        <p align = "center"><a class="btn btn-default" @Html.ActionLink("Carga Manual", "Create", "Jugador")</a> <a class="btn btn-default" @Html.ActionLink("Carga por Archivo", "UploadFile", "Jugador")</a></p>
    </div>
    <div class="col-md-6">
        <h2 align ="center">Utilizar Lista C#</h2>
        <p align ="center">Si deseas utilizar la implementación de las listas de C# para almacenar a los jugadores de la MLS selecciona aca.</p>
        <p align ="center"><a class="btn btn-default" @Html.ActionLink("Carga Manual", "Create", "Jugador")</a> <a class="btn btn-default" @Html.ActionLink("Carga por Archivo", "UploadFile", "Jugador")</a></p>
    </div>
</div>