@model Lab01_1104017_1169317.Classes.Data

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3> ¿Estas seguro que quieres eliminar este Jugador?</h3>
<div>
    <hr />
    <dl class="dl-horizontal"></dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="delete" class="btn btn-default" />
            <br />
            <br />
            @Html.ActionLink("Regresar al menu principal", "Index")
        </div>
    }

    <br />
    <div> @Html.ActionLink("Ver Jugadores", "Index") </div>
    <div> @Html.ActionLink("Regresar al menu principal", "Index", "Home")</div>
    <br />
</div>